* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

:root {
  --primary-color: #4f6f52;
  --task-color: #909e90;
  --secondary-color: #1e2a23;
  --terciary-color: #333333;
  --text-color: #e6efe8;
}

@font-face {
  font-family: "Nunito sans";
  src: url(font/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}

body {
  height: 480px;
  background-color: var(--primary-color);
  font-family: "Nunito sans";
}

header {
  -webkit-app-region: drag;
  width: 100%;
  position: relative;
}

h1 {
  color: var(--text-color);
  font-size: 32px;
  text-align: center;
}

#close-window {
  position: absolute;
  top: 0;
  right: 0;
}

.animation-container {
  height: 180px;
  width: 300px;
  margin: 10px auto;
  border-radius: 16px;
  background-color: #333333;
}

button,
input {
  -webkit-app-region: no-drag;
  user-select: auto;
  display: inline-block;
  background: transparent;
  border: none;
}

ul {
  list-style: none;
}

.list-container {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-container li {
  width: 300px;
  height: 60px;
  border-radius: 16px;
  background-color: var(--task-color);
  padding: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* .task-container {
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
} */
/* .task-container input[type="checkbox"]:checked ~ .text-input {
  text-decoration: line-through;
  opacity: 0.6;
} */
.checkbox-container {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
}

input[type="checkbox"] {
  width: 50px;
  height: 50px;
  appearance: none;
  position: absolute;
}

.label-task {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid var(--secondary-color);
  border-radius: 8px;
}

/* animação checked */

.label-task img {
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  pointer-events: none;
}

input[type="checkbox"]:checked + .label-task img {
  transform: scale(1);
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 10px;
}

#input-task {
  outline: none;
  width: 248px;
  height: 50px;
  font-family: "Nunito sans";
  font-size: 20px;
  font-weight: 700;
  color: var(--terciary-color);
  background-color: var(--task-color);
  border-radius: 8px;
  padding: 4px;
}

/* input[type="checkbox"]:checked + input[type="text"] {
  text-decoration: line-through;
} */
