* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

:root {
  --primary-color: #4f6f52;
  --secondary-color: #1e2a23;
  --terciary-color: #333333;
  --task-color: #909e90;
  --h1-color: #e6efe8;
  --test-color: #97a79a;
}

@font-face {
  font-family: "Nunito sans";
  src: url(font/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}

body {
  height: auto;
  background-color: var(--primary-color);
  font-family: "Nunito sans";
  padding: 6px;
  /* border: 6px solid var(--secondary-color); */
}

header {
  -webkit-app-region: drag;
  width: 100%;
  position: relative;
}

h1 {
  display: block;
  color: var(--h1-color);
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

hr {
  width: 160px;
  height: 4px;
  margin: 0 auto;
  border: none;
  color: var(--h1-color);
  background-color: var(--h1-color);
  border-radius: 2px;
}

#close-window {
  display: inline-block;
  width: 24px;
  height: 24px;
}

#minimize-window {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.animation-container {
  height: 192px;
  width: 380px;
  margin: 12px auto;
  border-radius: 16px;
  border: 3px solid var(--secondary-color);
  background-image: url(img/animation-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 96px;
}

.principal {
  width: 120px;
  height: 96px;
  grid-column: 2;
  grid-row: 2;
  background-image: url("img/sprite-normal.png");
  background-repeat: no-repeat;
  animation: principal 2.6s steps(13) infinite;
}

@keyframes principal {
  from {
    background-position: 0px;
  }
  to {
    background-position: -1560px;
  }
}

.jump {
  width: 120px;
  height: 192px;
  grid-column: 2;
  grid-row: 1 2;
  background-image: url("img/sprite-jump.png");
  background-repeat: no-repeat;
  animation: jump 1.2s steps(14) 1;
}

@keyframes jump {
  from {
    background-position: 0px;
  }
  to {
    background-position: -1680px;
  }
}

button,
input {
  -webkit-app-region: no-drag;
  user-select: auto;
  background: transparent;
  border: none;
}

#input-task,
.input-element {
  outline: none;
  font-family: "Nunito sans";
  font-size: 20px;
  font-weight: 300;
  color: var(--terciary-color);
  background-color: var(--task-color);
  border-radius: 8px;
}

.add-task-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 16px 10px;
}

#btn-add {
  width: 50px;
  height: 50px;
  margin-left: 5px;
}

#input-task {
  width: 325px;
  height: 50px;
  border: 2px dashed var(--secondary-color);
  padding: 6px;
  background-color: var(--h1-color);
}

ul {
  list-style: none;
}

.list-container {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.task-container {
  width: 380px;
  height: 60px;
  border-radius: 16px;
  border: 1px solid var(--secondary-color);
  background-color: var(--task-color);
  padding: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.checkbox-container {
  width: 50px;
  height: 50px;
}

.input-checkbox {
  width: 50px;
  height: 50px;
  appearance: none;
  position: absolute;
}

.label-task {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid var(--secondary-color);
  border-radius: 8px;
  pointer-events: none;
}

.label-task img {
  width: 48px;
  height: 48px;
  transform: scale(0);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.input-checkbox:checked + .label-task img {
  transform: scale(1);
}

p {
  font-family: "Nunito sans";
  font-weight: 300;
  color: var(--terciary-color);
  font-size: 20px;
}

.checked {
  text-decoration: line-through;
  opacity: 0.9;
}

::-webkit-scrollbar {
  width: 14px;
  height: 10px;
}

/* O "trilho" da barra de rolagem (fundo) */
::-webkit-scrollbar-track {
  background: var(--secondary-color);
  border-radius: 16px;
}

/* A "barrinha" (o que se move) */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 16px;
  border: 3px dashed var(--task-color);
}

/* A barrinha ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
  background: var(--task-color);
}
